.ListItem-page {
  background-color: #525050;
  color: #fff;
  border: none;
  padding: 0 10px;
  width: 100%;
}

.lt-04 {
  letter-spacing: 0.4px;
}

li {
  list-style-type: none;
}

.myRow {
  margin: 0 0 0 15px;
  padding: 0;
}

.red {
  background-color: #d01345;
  transform: skew(-12deg);
}

.red:hover {
  transform: skew(0);
}

.red a:hover {
  transform: skew(0);
}

.red a {
  transform: skew(12deg);
  font-weight: 600;
}

/* .dropdown {
  background-color: red;
} */
.dropdown-menu {
  width: 500px;
  background-color: #eee;
}
.dropdown-item {
  background-color: violet;
}

.liColor {
  color: white;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 15px;
  font-family: "FuturaPTWeb-Book";
  letter-spacing: 2px;
}

.liColor:active {
  outline: none;
}
.liColor:hover {
  color: white;
  text-decoration: none;
  color: #2d2d2d;
  background-color: #eee;
}

@media (max-width: 1328px) {
  .myRow {
    justify-content: center;
    display: flex;
  }
}
