.nav-container {
  height: 60px;
}

.navbar {
  background-color: #2d2d2d;
  font-size: 18px;
  color: #666;
  margin: 0 auto;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.link-woman,
.link-men {
  color: white !important;
  font-size: 16px;
  font-family: "FuturaPTWeb-Heavy";
  letter-spacing: 2px;
  font-weight: 900;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: none;
}

.link-men:hover,
.link-woman:hover {
  background-color: #525050;
}
/* .nav-item {
  padding: 10px;
} */
.searchInput-container {
  display: flex;
  /* background-color: blueviolet; */
  justify-content: space-around;
}
.nav-header-ul-container {
  width: 25%;
  /* background-color: orange; */
  margin-right: 10px !important;
}
#navbarSupportedContent {
  justify-content: space-between;
}

.loupe {
  margin-left: -75px;
  margin-bottom: 5px;
  z-index: 10;
}
.fa-user-circle {
  color: white;
  font-size: 20px;
}

.form-search-container {
  width: 569px;
  /* background-color: blue; */
}

.searchInput-container {
  /* background-color: violet; */
  width: 100%;
}

.genderHeader a {
  display: flex;
  justify-content: center;
}

.logo {
  height: 30px;
  display: inline-block;
  vertical-align: top;
  padding-right: 12px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 52px;
}
.log-img {
  padding-top: 33px;
}

.HeaderContainer {
  background-color: #2d2d2d;
}

.user {
  height: 20px;
}

.search {
  height: 20px;
  margin-bottom: 4px;
}

@media (max-width: 1135px) {
  .nav-header-ul-container,
  .form-search-container {
    display: none !important;
  }
  .navbar-collapse {
    display: flex;
    justify-content: flex-end !important;
  }
}

.bagItem,
.user {
  color: #fff !important;
  height: 20px;
  margin: 20px;
}
