.nav-container {
  height: 60px;
}
/* 
.headerListContainer {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 10%;
  background-color: blue;
  justify-content: space-around;
} */

/* .headerListContainer li {
  font-size: 18px;
} */

/* .headerListContainer a {
  text-decoration: none;
} */

/* .nav-input {
  width: 378px;
} */
.navbar {
  background-color: #2d2d2d;
  font-size: 18px;
  letter-spacing: 0.4px;
  color: #666;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.link-woman,
.link-men {
  color: white !important;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  font-weight: 900;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
}

.link-men {
  border-right: 1px solid #525050;
  border-bottom: none;
}
.link-men:hover,
.link-woman:hover {
  background-color: #525050;
}
/* .nav-item {
  padding: 10px;
} */
.searchInput-container {
  display: flex;
  /* background-color: blueviolet; */
  justify-content: space-around;
}
.form-container {
  /* background-color: red; */
  width: 700px;
  padding-right: 50px;
}
.loupe {
  color: black;
  background-color: white;
  font-size: 15px;
}
.fa-user-circle {
  color: white;
  font-size: 20px;
}

.searchBar {
  width: 500px;
}
.logo {
  height: 30px;
  display: inline-block;
  vertical-align: top;
  padding-right: 12px;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-left: 52px;
}
.log-img {
  padding-top: 33px;
}

.HeaderContainer {
  background-color: #2d2d2d;
}
