footer {
  background-color: #eeeeee;
}

.link-footer,
h6 {
  color: #666;
}

.medias {
  background-color: white;
}

.img-medias {
  height: 50px;
  object-fit: cover;
  width: 100%;
}

h6 {
  font-family: "FuturaPTWeb-Heavy";
}

.link-footer {
  font-family: "FuturaPTWeb-Book";
}
