body {
  background-color: #eee;
}
/* .testContainer {
  /* display: flex;
  justify-content: center; */

/* padding: 20px 50px 0 50px;
  margin-top: 50px; */

.testRow {
  /* width: 540px; */
  height: 56px;
  /* display: flex; */
  align-items: center;
  /* font-size: 19px; */
}

.premier,
.second {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  text-decoration: none;
  font-family: "Roboto ", Tahoma, Geneva, Verdana, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.premier {
  border: 1px solid black;
  border-bottom: 0;
}
.premier a {
  color: #222;
}
.second a {
  color: #222;
  text-decoration: none;
}

.second {
  border-top: 0;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.LogOrSign-container {
  margin: 50px auto !important;
}

.LogOrSign-col {
  padding: 30px 0 40px 0;
}

.deleteHover:hover {
  color: white;
}
