.product-detail-container {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  padding-top: 20px;
  margin-bottom: 20px;
}
.product-detail {
  /* background-color: violet; */
  width: 300px;
  height: 300px;
  padding-top: 20px;
  margin-left: 20px;
  padding-left: 10px;
}

.product-detail h4 {
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  height: 58px;
  width: 269px;
  letter-spacing: 1.7px;
}

.detail-price {
  /* background-color: red; */
  display: flex;
  font-style: normal;
  font-weight: 700;
  color: #555;
}

.detail-price small {
  margin-left: 10px;
}
.price {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}
.color {
  margin-top: 20px;
}
.color span {
  text-transform: uppercase;
  font-weight: 600;
  padding-right: 10px;
  letter-spacing: 1.8px;
}

.size {
  display: flex;
}

.size a {
  color: black;
}
.sizeP {
  letter-spacing: 1.7px;
  font-weight: 600;
  text-transform: uppercase;
}
.size small {
  margin-left: 25px;
  margin-top: 2px;
}
.add-cart {
  background-color: #00aa5b !important;
  width: 198px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  text-align: center;
  color: #fff;
}
.selectSize {
  width: 198px;
  height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.4;
  text-align: center;
  color: #2d2d2d;
  border: solid 1px #999;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff !important;
}
.optionSize {
  color: #2d2d2d;
  background-color: transparent;
}
