.product-detail-container {
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  margin-bottom: 20px;
}
.product-detail {
  /* background-color: violet; */
  width: 300px;
  height: 300px;
  padding-top: 20px;
  margin-left: 20px;
  padding-left: 10px;
}

.nameProductDetail {
  font-family: "FuturaPTWeb-Book";
  font-size: 32px;
  letter-spacing: 1.7px;
  line-height: 30px;
}

.detail-price {
  display: flex;
  font-style: normal;
  font-weight: 700;
  color: #555;
}
.priceContainer {
  margin-top: 17px;
}

.priceContainer small {
  margin-left: 10px;
  font-family: "FuturaPTWeb-Bold";
  letter-spacing: 0.8px;
}
.price {
  font-family: "FuturaPTWeb-Heavy";
  font-size: 20px;
  letter-spacing: 2px;
  /* background-color: blue; */
}

.color {
  margin-top: 20px;
}
.color span {
  text-transform: uppercase;

  padding-right: 10px;
  letter-spacing: 1.8px;
  font-family: "FuturaPTWeb-Heavy";
}

.size {
  display: flex;
}

.size a {
  color: black;
}
.sizeP {
  letter-spacing: 1.7px;
  font-weight: 600;
  text-transform: uppercase;
}
.size small {
  margin-left: 25px;
  margin-top: 2px;
}
.rowT {
  background-color: red;
}

.btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 115px;
  justify-content: space-evenly;
}

.add-cart {
  background-color: #00aa5b !important;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  text-align: center;
  color: #fff;
}
.add-cart a {
  color: #fff;
}
.selectSizeBtn {
  text-transform: uppercase;
  font-family: "FuturaPTWeb-Bold";
  font-size: 16px;
}
/* .selectSize {
  text-transform: uppercase;
  text-align: center;
  color: #2d2d2d;
  border: solid 1px #999 !important;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff !important;
} */
.optionSize {
  color: #2d2d2d;
  background-color: transparent;
}

@media (max-width: 991px) {
  .description-detail {
    margin: 50px 0;
  }
}
