.list-container li {
  list-style: none;
}
.list-container {
  line-height: 23px;
  font-family: "FuturaPTWeb-Book";
  align-items: center;
  padding-bottom: 20px;
}
/* ********************************************** */

.rowFilter {
  background-color: #eee;
}
.selectFilter {
  /* background-color: blue; */
  letter-spacing: 1px;
  font-size: 18px;
  font-family: "FuturaPTWeb-Book";
}
/*
.filter-container {
  background-color: orange;
  /* height: 50px; */
/* display: flex; */
/* flex-direction: column; */
*/
/* }
.genderList {
  background-color: violet;
  width: 8%;
} */

.filter-container {
  background-color: red;
  height: 100px;
  width: 500px;
}
/* .gender {
  background-color: blue;
} */
.genderList {
  background-color: orange;
}

/********************************************* */
.list-img {
  width: 100%;
}

.ul-container {
  padding-inline-start: 0;
  justify-content: center;
}

.nav-ul-container {
  display: flex;
  width: 100%;
  /* background-color: rebeccapurple; */
  height: 40px;
  align-items: center;
}

.nav-ul-container li {
  list-style: none;
}

.nav-productList {
  height: 45px;
  display: flex;
  align-content: center;
}
.btnList {
  line-height: 1.12;
  text-align: left;
  padding: 3px 20px 3px 6px;
  position: relative;
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid rgb(190, 184, 184);
  background-color: transparent;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  background-color: red;
}

.productListTitle {
  background-color: #f8f8f8;
  text-align: center;
  padding: 15px 0 10px 0;
}

.productListTitle h2 {
  font-family: "FuturaPTWeb-Heavy";
  font-size: 28px;
}

.product-list-container {
  padding: 50px !important;
}

.nameList {
  height: 23px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 8px;
  font-family: "FuturaPTWeb-Book";
  font-size: 15px;
}

.priceList {
  font-family: "FuturaPTWeb-Heavy";
  font-size: 14px;
}
